# Database credentials
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret

# Admin credentials
DEFAULT_ADMIN_USERNAME=some_admin_login
DEFAULT_ADMIN_PASSWORD=your_password

JWT_SECRET=your_strong_random_secret_here

# Containers credentials
DEFAULT_KAFKA=kafka:29092

DEFAULT_REDIS_HOST=redis
DEFAULT_REDIS_PORT=6379

# Rate limiting redis
DEFAULT_RATELIMIT_REQUESTS=2000
DEFAULT_RATELIMIT_WINDOW=60
