/.idea/
/spring-backend/.gitattributes
/ktor-service/docs/.swagger-codegen-ignore
/ktor-service/docs/.swagger-codegen/VERSION
/hs_err_pid167100.log
.env
__pycache__/
/ai-module/tests/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
